[2020-01-05 18:39] city41 opened #1 "feature request: give a hint"
This is a neat game and a nice implementation. Thanks for making it!

I'd never heard of Set before seeing this, so it took me a while to get a feel for making sets. I think it'd be nice to have a hint button option, that would perhaps highlight two cards from a set. I think it could help beginners get the set mindset down faster.

Just a suggestion, of course :)

[2020-01-10 10:11] madsky opened #2 "Race Condition Resolution"
When two players both submit the same set within a very short time space, the game allocates the set to both players.

Observed a gap of 3 seconds when registering on the score board, but not tested to establish limits, and not sure if/how this relates to the gap in set submission.

[2020-01-10 17:22] ekzhang commented on #2
Hi @madsky, thanks for the report. This issue has been on my radar for a while, and I'm glad we now have practical evidence that it occurs. I actually took some steps to resolve this yesterday in commit a3f6681bfd0b1d20f3c71f8797eb497f332376b1, and I don't think it should be a problem anymore (you may need to hard refresh if your cache hasn't expired).

I'm closing this issue for now. If you can r

[2020-01-10 17:22] #2 closed

[2020-01-10 17:25] ekzhang commented on #1
@city41 Thanks for the suggestion! I'll keep this in mind for the next version.

[2020-02-04 03:13] ericschmar opened #3 "Make it mobile screen compatible."
Make the set board larger on mobile devices with the timer and list of sets potentially hidden or smaller.

[2020-02-05 04:24] ekzhang commented on #3
Thanks Eric, I'm aware of this and am thinking about designs to make the site more mobile-friendly. At the moment, you can achieve most of this by rotating the screen to landscape mode and refreshing the page, although it would be interesting to think about how to display the cards well in portrait mode as well. Feel free to submit a PR.

[2020-02-05 18:59] DaNooob opened #4 "Kicking system"
It would be useful to kick someone from a room because some people make programs to solve the game and ruins it for others. Also remove the "<button style="display: none;">Cheat</button> button" from the method for it.

[2020-02-05 20:13] ekzhang commented on #4
Hi @DaNooob, thank you for the suggestions. About kicking users: I would suggest that you simply do not share your invitation link to users who do not act in good faith. The application should be secure in the sense that game IDs are private and randomly generated, so users won't be able to join unless you share the link. While a "kick" feature might be nice, it's not really technically useful at

[2020-02-05 20:13] #4 closed

[2020-02-07 03:05] ericschmar commented on #3
I'm happy to take a stab at something that might work. Out of curiosity, am I able to run the front end locally or do I need to mock the backend as well?

[2020-02-07 03:15] ekzhang commented on #3
You should be able to run the front end locally (just `npm start`); let me know if this doesn't work for you.

[2020-02-07 05:16] ericschmar commented on #3
I've got it working now.

It's pretty easy to get the general screens to be responsive to mobile sizes, but you're right, the cards themselves are more difficult since they are placed on the board by translating their location (based on a fraction of their size).

[2020-04-15 00:54] leaderam commented on #1
Is there always a solution? Give a hint is definitely a good idea!

[2020-04-25 10:19] brianc118 opened #5 "Game thinks there's still a set to be picked?"
Not sure what's happening here. There appears to be no sets left, but the game doesn't terminate.

![image](https://user-images.githubusercontent.com/4782836/80277414-1645a900-8732-11ea-8f7a-e8e62ff384f5.png)

[2020-04-27 16:16] ekzhang commented on #5
Interesting! Thanks for the bug report. It looks like this can happen when two players both take sets at the same time, and that results in the game ending. I already fixed race conditions involving conflicting sets, but I guess I overlooked this case. Will try to fix when I have time (also welcome PRs!).

[2020-05-01 05:18] antran93 opened #6 "Colorblind Mode"
My friend is red green colorblind and can't play this game because of the colors involved. Is there a way to make a colorblind mode of this?

[2020-05-20 22:14] ekzhang commented on #6
Thank you very much for the suggestion! It's on our wishlist for the next major release.

[2020-05-25 01:09] ekzhang commented on #5
Fixed by #11

[2020-05-25 01:09] #5 closed

[2020-05-25 01:10] ekzhang commented on #3
See #9, #10, and #11

[2020-05-25 01:10] #3 closed

[2020-06-01 01:35] ktxmatrix opened #13 "Unable to finish a set - no shut off or quit button"
We love this game and had a fantastic time with our friends. Sadly we got stuck at the end and could not call it quits after 30 minutes of trying to complete a set. So the issue is a 2 part one:

1. Can you put a "We give up" button with a confirmation dialog to allow users to finish a game and see the last set they were missing.
2. Let me know if there is actually a set left or its a bug with the

[2020-06-02 01:14] cynthiakedu commented on #13
Glad that you enjoyed the game!

Indeed there is no set. The game page did not reflect this due to a race condition that can happen when two players take the last two sets at around the same time. This issue is fixed in #11 .

[2020-06-02 01:14] #13 closed

[2020-06-19 00:35] ekzhang commented on #6
Once #18 gets merged in, the dark palette (button in the top-right corner) should provide more contrast for red-green colorblind users.

[2020-06-19 00:35] #6 closed

[2020-06-21 02:54] amcdevitt97 opened #19 "“Help” rules have typo."
In production, under “help” the rules are given. A bit further down an explanation on an incorrect triplets. It mentions two red cards and a third green card, but the diagram has two orange cards and a second green card.

Very silly and pedantic issue but could be confusing for newcomers. Not sure if this is the same in the codebase or not, haven’t skimmed it yet. Screenshot is below. Btw love thi

[2020-06-21 03:01] ekzhang commented on #19
Good catch! It's still red/green if you use the light theme. In the last release we actually updated the color palette for dark theme to be more friendly for our red-green colorblind users, and I guess the colors we chose are slightly confusing if you look at the help page.

We could probably edit the help page to be less specific (e.g., in the colors list, write "red/orange, green, purple," and o

[2020-06-21 03:05] amcdevitt97 commented on #19
Oh man I didn’t ever realize it was because I was on dark theme (thanks for adding that in too btw!). Another idea could be detecting what theme the user is in, and changing the description dynamically as a result.

Finally got around to looking though the codebase and I love how you set the cards properties. First digit is color, right?

[2020-06-21 05:47] ekzhang commented on #19
Yep, first digit is color. Cards are set this way mainly because of how Firebase Realtime Database serializes JSON data (everything -> strings), so they're easier to deal with and pass around in this form. Thanks for the suggestions!

Fixed in #20, closing this.

[2020-06-21 05:47] #19 closed

[2020-06-29 04:14] vgautam-dialpad opened #22 "Leave cards selected when the board changes"
Whenever someone else finds a set and the board changes, the cards you previously selected get deselected even if they're mutually exclusive sets. It would be great to change this behaviour so that your selection only changes if it was actually affected by the other person's set.

PS it has been fantastic to be able to play set again with my friends now that we're all isolating from each other! Th

[2020-06-29 23:04] ekzhang commented on #22
Thanks for the suggestion. Unfortunately, I think we might still be keeping the current behavior. There are many possibilities to consider - for example, suppose that you have selected two cards (1 red solid diamond, 2 red solid diamond), and are about to select the last card in the set, but another player in the meantime finds the set (3 green solid diamond, 3 purple solid diamond, 3 red solid di

[2020-06-29 23:04] #22 closed

[2020-08-04 18:37] jennhu opened #31 "Error: The requested `gameId` already exists"
When I create a new game, I occasionally get the following error:

```Error: The requested `gameId` already exists.```

I usually resolve this by clicking on the "Create A Game" button until it goes away.

[2020-08-05 07:22] ekzhang commented on #31
Thanks for the report. We fixed this a few days ago in dc5814542f42aaa4fab3bb4580b5af170213580b, and it will be live in the next version.

[2020-08-05 07:22] #31 closed

[2020-08-11 06:35] eparadise opened #32 "feature request: log in chat when someone leaves a game"
Hi, thanks for this! I think it would be nice to put in the chat if someone has left the game. My friend and I have been playing, and one of us will leave the chat to join the next game while the other is still chatting and doesn't realize.

[2020-08-11 06:36] eparadise opened #33 "feature request: set to default option for colors"
For changing colors, there should be an option to go back to the default. Also, it shouldn't be possible to select the same color multiple times (p sure this is currently possible). I would be willing to take a stab at this (at least the set to default part) if that's okay!

[2020-08-15 08:45] ekzhang commented on #33
Closed by #34

[2020-08-15 08:45] #33 closed

[2020-08-15 08:46] ekzhang commented on #32
Good idea, this makes sense.

[2020-08-28 04:54] ekzhang opened #36 "Rotate cards 90 degrees in horizontal layout"
Horizontal layout puts cards in an N x 3 grid, but they still lay "flat" on the page. It would be better for them to also be rotated 90 degrees, for a more even aspect ratio & potentially larger display area.

![image](https://user-images.githubusercontent.com/7550632/91522704-86229680-e8c0-11ea-8210-bc24746b6c5b.png)

[2020-08-28 05:00] ekzhang opened #37 "Game variants"
Tracking support for adding different Set variants to the site. Currently we have a few suggestions from users:

1. Simple Set (27 cards, 3 features each)
2. UltraSet
3. Unlimited deck, fixed timer (1 min / 5 min / 10 min?)
4. Unlimited deck, first to get X sets
4. All of the other variants from https://smart-games.org/

From a game logic POV, these are not too hard to implement. All of this is bl

[2020-09-09 17:14] ekzhang opened #40 "Game Leaderboards"
Global leaderboards for various metrics - fastest game played, fastest solo games, best average speed, matchmaking / TrueSkill rating algorithm.

### Implementation

- Probably needs a cron job ([Pub/Sub cloud function](https://firebase.google.com/docs/functions/schedule-functions)) to run periodically and update a database entry.
- How to deal with people making bots?

[2020-09-09 17:16] ekzhang opened #41 "Snackbar may cover up cards on small screens"
I've been told that the "Set found!" or "Not a set!" messages sometimes cover up the cards on mobile screens, which is undesirable. Is there a way to make this less obtrusive?

[2020-09-24 21:25] alvynw opened #43 "Creating a game as an anonymous user then signing in results results in a locked out lobby."
When creating a game as an anonymous user, then signing in, the anonymous user remains the game leader. The lobby does not replace the anonymous user with the signed in user. This results in losing control of the anonymous user (who is the still the game leader) meaning the lobby must be abandoned.

[2020-09-24 23:20] ekzhang commented on #43
Hi @alvynw, thanks for your bug report. Unfortunately, we don't support merging two separate accounts together. Please create a new game.

[2020-09-24 23:20] #43 closed

[2020-10-02 00:03] ekzhang opened #44 "End-of-game timing information is inconsistent with event timestamps"
When a game is ended, the final timer value (`games/${gameId}/endedAt`) is usually 5-50ms higher than the timestamp of the last game event (`gameData/${gameId}/events/${eventId}/time`). This is because the client takes an extra round-trip to finalize that a game has finished.

### Example

In the image below, the last event has timestamp 02:35.52, but the final timer stops at 02:35.55. There's a d

[2020-10-02 07:03] chrismolina159 commented on #44
Hello, if this is available I would like to work on this as my first issue!

[2020-10-03 01:26] ekzhang commented on #44
Great, thank you @chrismolina159! There are instructions for setting up your development environment in the README. You may want to start by reading these files:

- `functions/src/index.ts` - relevant documentation in https://firebase.google.com/docs/functions/callable/
- `database.rules.json` - relevant documentation in https://firebase.google.com/docs/database/security/
- `src/firebase.js`
- `sr

[2020-10-04 10:37] gabrielatricak commented on #36
Hi, I would like to  work on this issue for a school project. Can I be assigned to this?

[2020-10-04 10:42] gabrielatricak commented on #32
Hi, I would like to work on this issue for a school project. Can I be assigned to this?

[2020-10-08 15:48] chrismolina159 commented on #44
@ekzhang I sent an email a few days asking for advice on a blocker that I am having.  To be more precise, it seems that I am not able to call my HTTPS callable serverless function, because the console.logs() in the function are not getting called.

I implemented a barebones version of `createGame()` and included lines similar to the ones that referenced createGame such as in `src/firebase.js` and

[2020-10-09 23:40] ekzhang commented on #44
@chrismolina159 Sorry for the delay in responding. Right now, the functions require having a database connection to run, since they set up an admin connection to the realtime database. I added you as a project collaborator to the staging environment on firebase. Once you log in, you will be able to test your functions by running the following commands:

[code]

This will deploy the functions to ou

[2020-10-10 18:20] ekzhang commented on #36
@gabrielatricak, sure! I would appreciate any help. What is your level of experience with React or frontend development in general? I think you will be able to implement the functionality by looking at these two files:

- [`ResponsiveSetCard.js`](https://github.com/ekzhang/setwithfriends/blob/v2.6/src/components/ResponsiveSetCard.js)
- [`Game.js`](https://github.com/ekzhang/setwithfriends/blob/v2.

[2020-10-10 22:16] chrismolina159 commented on #44
![admin_needed](https://user-images.githubusercontent.com/29063542/95665946-f6107780-0b22-11eb-9dd1-462554378c1a.jpg)

It seems I need additional perms to be able to deploy any functions.  Let me know if this seems feasible or if something else is causing this error!

[2020-10-10 22:19] ekzhang commented on #44
Thanks, I added the role for you.

[2020-10-14 05:07] chrismolina159 commented on #44
Created a PR let me know if there is anything wrong/that you want changed!

[2020-10-21 04:14] cgbuen opened #48 "Feature request: draw 3"
Great implementation! I've been waiting for something like this!

I've got the card game rulebook in hand which reads:

I thought it might be a cool feature to have maybe something like a "raise hand to draw" button so that when all players have clicked it, a "draw 3" scenario is triggered. This is good for when there is an available set on the board but no active player can find it.

[2020-10-25 01:00] reislerjul opened #49 "LGBTQ terms on bad word list"
Users are blocked from sending "lesbian" or "queer" in the chat because these are on the bad words list. There is a PR to fix this in the package you use for bad words (https://github.com/web-mech/badwords/pull/84), but there has been no movement on this PR for several months.

You can remove these words from the bad words list yourself using the following code in `src/util.js`:
`filter.removeWord

[2020-10-25 05:09] ekzhang commented on #49
Thanks @reislerjul.

[2020-10-25 05:12] #49 closed

[2020-10-27 06:39] ekzhang commented on #48
Thanks @cgbuen, this is a common suggestion. I'm keeping this issue here in case anyone wants to work on it - it'd likely be within a separate mode, as in #37.

[2020-11-02 04:31] cashpipeplusplus opened #50 "Quit button"
It would be wonderful to have a quit button.  When using this in an iframe pointing to a specific game code (as is done in the embedding in Gather (https://gather.town/)), once a game has begun, nobody new can join until the game is completed.  In any other context, you could go back to home and start a new game, but in context of Gather, you just have to keep going until you win.

Adding a simple

[2020-11-03 02:08] ekzhang commented on #50
Hello, thanks for the feedback, but I'm not sure if I follow what you're saying. The embed in Gather.Town seems to just put me in the lobby at setwithfriends.com. Also, you can leave a game and go to the lobby by clicking on the "Set with Friends" logo on the top-left corner of the screen, which doubles as a home button.

Could you help me understand what you mean here?

[2020-11-03 03:53] cashpipeplusplus commented on #50
You know, you are right.  I had forgotten that I had customized the embed in Gather to point to a specific game code.  My mistake!

[2020-11-03 03:53] #50 closed

[2020-11-05 04:15] benediamond opened #52 "enhancement: find sets in O(n^2) time"
the current set-finding algorithm is naïve: it brute-forces all O(n^3) 3-card subsets of its n-card input deck.
https://github.com/ekzhang/setwithfriends/blob/030abe18108e83ecd7f6a5ad852eb9755888f83f/functions/src/game.ts#L77-L87
you can do better, at least asymptotically: using hashing / random access, it suffices just to iterate through all O(n^2) _2_-card subsets. indeed, for each such subset c

[2020-11-05 18:06] #44 closed

[2020-11-13 03:41] ekzhang commented on #52
Thanks @benediamond. We're aware that you can find sets in O(n^2) time by just indexing the third card in a hash table. However, we don't see a need to do this, as n < 21 here, so all of this is actually just O(1), and we don't see any performance issues. Also, from a practical perspective, [V8](https://v8.dev/) is very good at optimizing simple nested loops. :)

The paper you linked is pretty fun

[2020-11-13 03:42] #52 closed

[2020-12-09 19:24] kungpaogao opened #54 "Feature request: game settings"
It would be cool to have some game-specific settings such as:

- guess cool down to prevent spam guesses
- overrides for user options (board rotation, disabling keybinds, color theme)
- more game stats at the end of the match (avg time to solve, number of guesses, hit rate, etc.)
- maybe a verbose mode to show every time someone guesses

I can contribute (probs over my break) if contributors are n

[2020-12-17 20:27] Hanaffi commented on #36
@ekzhang Can you assign it to me?

[2020-12-18 05:57] ekzhang commented on #54
Thanks Andrew! We'd love to have you. The current status of the backend is that Cynthia and I are working on / experimenting with a rewrite (see `backend-rewrite` branch), but this is still in early stages.

All of your suggested features sound like they could be implemented without changing the server - user options can be stored in `window.localStorage`. Please feel free to ask if you have any q

[2020-12-18 05:58] ekzhang commented on #36
@Hanaffi Done.

[2020-12-18 15:17] Hanaffi commented on #36
@ekzhang  How did you get that horizontal layout?
I cant get it like your SS.

[2020-12-18 16:27] kungpaogao commented on #54
I was just thinking that it might need some backend changes because you would want to push the game settings to all users in that game?

[2020-12-18 21:02] ekzhang commented on #36
Have you tried pressing the `;` key when viewing a game on a computer?

[2020-12-18 21:17] Hanaffi commented on #36
@ekzhang Well.
Im thinking of sending `isHorizontal` as a prop to SetCard and rotate there.
Am I correct?

[2020-12-18 21:30] ekzhang commented on #36
Yes, you would need to pass some prop and change the rendering code. The class you want to change is `ResponsiveSetCard` though - this is the one used in the game area.

[2020-12-18 23:48] ekzhang commented on #54
Ah for sure. What do you think would be a good design for users being able to set options when they start a game?

[2020-12-19 00:53] Hanaffi commented on #36
@ekzhang Cool, Do you want to rotate the whole card or just the SVG?

[2020-12-19 01:39] ekzhang commented on #36
Yes, both - the goal is to make the display larger and easier to use.

[2020-12-19 11:00] Hanaffi commented on #36
![kk](https://user-images.githubusercontent.com/35642947/102687759-f64f8200-41f9-11eb-9113-065ac6ca0112.png)

I have rotated the whole card but the dimensions/styling is now a big mess!
How can I handle that?

[2020-12-19 19:27] ekzhang commented on #36
You need to adjust the layout position of the card using some math. This is handled by a CSS `translate` property, to allow for smooth animations.

[2020-12-20 19:25] HiddeKoerts opened #58 "Feature request: Keyboard layout support"
First of all, I love the project and the community you have set up.

One thing I'd personally really like to see is support for various keyboard layouts (DVORAK / COLEMAK / AZERTY etc.).

I have some webdev experience myself and definitely want to help further develop this project (if you'd like further help of course), and this seems like a relatively easy first issue to pick up to get more famil

[2020-12-22 20:27] kungpaogao commented on #54
Here's a "quick" thing I made in Figma. Basically just something in the lobby is good.

![setwithfriends-settings](https://user-images.githubusercontent.com/11168401/102930073-c73f4780-4469-11eb-9468-06ed4524fe41.png)

It might be a good idea to like push to chat "Game settings changed" or something.

Not sure about database design though. Do you currently store some info linked to a game other th

[2021-01-01 08:47] ekzhang commented on #58
Thanks for the feature request! It could definitely be done locally and would be possible to add. Right now we just store the keyboard shortcut binding as a string and toggle between them depending on layout.

My only concern about customization is how to design a simple and intuitive interface for this. Feel free to provide suggestions.

[2021-01-03 13:48] HiddeKoerts commented on #58
Pull request #67 includes a bare bones implementation of the feature.

[2021-01-04 18:30] shagemey opened #68 "Unable to start the code"
Hello,

Amazing project you have here! I just cloned the repo, successfully ran "npm install" to get the dependencies, but am getting an error on "npm start" (below). Any ideas?

c:\code\setwithfriends>npm start

setwithfriends@1.0.0 start c:\code\setwithfriends
react-scripts start

'react-scripts' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code

[2021-01-04 20:42] NilsEnevoldsen commented on #54
A game-specific setting I'd like is “Autoselect third card”. When it is enabled, players would only need to select two cards from a valid set to claim the complete set.

[2021-01-04 22:58] shagemey commented on #68
Fixed by running these three npm commands in order:

1. npm cache clean --force
2. npm rebuild
3. npm install

Solution from https://stackoverflow.com/a/65026207

[2021-01-04 22:58] #68 closed

[2021-01-08 02:37] ekzhang commented on #54
Other relevant work on a game settings interface: #66.

[2021-01-09 01:14] HiddeKoerts commented on #40
_My thoughts on the issue of dealing with bots:_
I don't think it is feasible to completely get rid of bots. Of course the really fast bots could easily be ignored, but slower ones would be incredibly difficult to detect. Therefore, I think that tactics should focus on circumventing the problem and deterring the use of bots in public games. Some concrete suggestions:

1. Limit rankings to users wh

[2021-01-11 15:29] HiddeKoerts commented on #58
Pull request has been merged.

[2021-01-11 15:29] #58 closed

[2021-01-17 00:29] ekzhang commented on #52
@benediamond FYI we ended up implementing this in #66, out of caution for other game modes.

[2021-01-17 01:39] ekzhang commented on #36
@Hanaff Any updates on this?

[2021-01-20 06:24] ekzhang commented on #41
Closing, since I haven't since heard other people report this as a problem.

[2021-01-20 06:24] #41 closed

[2021-01-20 15:04] #1 closed

[2021-01-20 15:04] #37 closed

[2021-01-20 17:23] Hanaffi commented on #36
@ekzhang Sorry, I had been busy with college projects and such stuff.
I will continue working on it

[2021-01-23 17:44] maksverver commented on #48
Since the server already solves the "there is no set on the table" problem by adding cards, the remaining "the players don't see a set" problem could also be solved by providing a hint to unblock the players.

A hint could be triggered either by a timeout (e.g. 1 minute) or by all players clicking a "hint" button (similar to Christopher's suggestion). The first hint could reveal one card from a se

[2021-01-23 17:46] ekzhang commented on #48
@maksverver Thanks for your input. We actually just recently implemented a hint feature (#66), and it will be released soon.

[2021-01-23 17:50] maksverver commented on #48
The hint feature described there sounds a bit different, but maybe I misunderstood. I'll wait for the next release and try it out!

[2021-01-26 23:23] Hanaffi commented on #36
@ekzhang Why do I get "Unable to connect to the server. Please try again later." when I try to `npm start`

[2021-01-26 23:24] ekzhang commented on #36
Are you on the develop branch?

[2021-01-26 23:25] Hanaffi commented on #36
@ekzhang  Yes, I have even tried the master one and still getting that

[2021-01-26 23:38] Hanaffi commented on #36
@ekzhang Any idea on how to fix it?

[2021-01-27 01:23] ekzhang commented on #36
If you're running from the master branch, you will get an error. Please run on the `develop` branch.

[2021-01-27 19:46] Hanaffi commented on #36
@ekzhang Okay, it works now.
Why doesnt rotation work?
Im using ` transform: [{ rotate: '90deg'}] ` in style but no change.

[2021-01-28 18:27] Hanaffi commented on #36
@ekzhang  How about that?
![zz](https://user-images.githubusercontent.com/35642947/106182187-2bf76b80-61a7-11eb-8d0f-51eab90c5402.png)

[2021-01-28 18:51] Hanaffi commented on #36
@ekzhang  How about that?
![zz](https://user-images.githubusercontent.com/35642947/106184641-7fb78400-61aa-11eb-93dd-e75a9704cb7e.png)

[2021-01-28 18:59] Hanaffi opened #69 "Add some sound effects"
Add sound effect to these events:

1. Time is about to finish.
2. When the player chooses correct set.

[2021-01-29 22:56] ChrisCoe commented on #69
I agree that some light sound effects would add a lot to the experience. Also, the cards should not be eliminated out of the deck so quickly. Makes it hard for people to follow what just happened.

[2021-01-31 02:38] ronaywang opened #71 ":("
<img width="632" alt="Screen Shot 2021-01-30 at 9 28 46 PM" src="https://user-images.githubusercontent.com/42303936/106373003-701f7300-6343-11eb-90c3-a10372ea3819.png">

[2021-01-31 08:56] Hanaffi commented on #69
@ekzhang Assign it to me.

[2021-01-31 19:03] Hanaffi commented on #69
@ekzhang Assign it to me please.

[2021-01-31 22:09] BehEsMo opened #74 "Unable to Access the Site from Iran"
Hi.
I live in Iran and was looking forward to play the wonderful Game of Set with my friends, using your excellent implementation. Unfortunately, it was not possible, because some of us couldn't access the site. I found out that It can only be accessed using a VPN app (and thus, changing the IP). I'm not sure, but maybe some IP's have been restricted from connecting to the site.
I would be gratefu

[2021-02-01 07:05] ekzhang commented on #74
Hi @BehEsMo, I'm sorry to hear that you can't access the site. Is it possible to share what error you're getting when you try to access the site? Please screenshot what you see and describe any error messages, as access could be being blocked at a number of different parts of the system. This way we can hopefully figure out the root cause and resolve it.

If possible, also open the Google Chrome J

[2021-02-01 17:59] Hanaffi commented on #69
@ekzhang
I worked on such feature easily before.
I can finish it in a day or less.
Can you assign it to me?

[2021-02-01 20:55] BehEsMo commented on #74
Thanks, @ekzhang. These are screenshots of the errors I encountered while trying to access the site (using two different devices connected to two different ISP's) and the Google Chrome JavaScript console screenshots as you instructed (when using a VPN, and otherwise):

![Set With Friends Windows](https://user-images.githubusercontent.com/78323953/106516281-0ee6d380-64ec-11eb-9cc2-d19d2a927d86.JPG)

[2021-02-01 23:03] ekzhang commented on #74
Thanks for the detailed information @BehEsMo. I did a bit of research based on the problems you're seeing, and the issue is that Netlify (our site hosting provider) has some parts of its infrastructure hosted on Google, [which unfortunately blocks connections from Iran due to US trade restrictions](https://community.netlify.com/t/using-netlify-in-iran-custom-domain-only-works-with-vpn/1380). This

[2021-02-01 23:03] #74 closed

[2021-02-02 02:16] #71 closed

[2021-02-02 14:48] BehEsMo commented on #74
Dear @ekzhang, I appreciate your effort and kindness.❤️
Cruel U.S. sanctions hurt the Iranian people in so many ways, from hardship in providing some medicines to playing "Set with Friends". :|
I just can hope someday you use a site hosting provider not obeying the inhumane restrictions of the U.S. government on the Iranian people.

[2021-02-02 23:28] vEnhance opened #77 "Keyboard features documentation"
On the help page, I think there should be some indication that pressing semicolon flips the layout; I had to read the source code to find this feature. (I also personally think horizontal layout should be default :P )

(In general, I think more keyboard documentation could be cool.)

[2021-02-02 23:29] vEnhance opened #78 "Semicolon clashes with layout switching for Dvorak"
When using a Dvorak layout, it's impossible to switch between horizontal/vertical layout because the semicolon key also touches a card.

(The workaround is to switch to QWERTY, toggle the layout, and then switch back.)

[2021-02-02 23:30] vEnhance opened #79 "Keys for selecting cards should prevent default event from browser"
e.g. on Firefox, pressing apostrophe triggers "Quick Find", but this key is also used for selecting a card in the user interface.

I imagine one should just `preventDefault` for any keystrokes.

[2021-02-02 23:31] vEnhance commented on #78
Sorry, I am dumb. Now that I am reading a different part of the code, I see that the key is bound to S.

[2021-02-02 23:31] #78 closed

[2021-02-03 02:47] ekzhang commented on #79
Thanks for pointing this out! I was able to reproduce.

[2021-02-03 02:51] #79 closed

[2021-02-03 02:55] ekzhang commented on #77
I think we mention it in the help page. Horizontal layout could be the default in the future, maybe this is a good question to survey users about in Discord.

![image](https://user-images.githubusercontent.com/7550632/106691246-30ee5d80-65a1-11eb-84e2-b92a94531e0f.png)

[2021-02-03 03:39] vEnhance commented on #77
So, guess I should RTFM :) no idea how I missed that as I did scroll through the help page. (Maybe the keyboard shortcuts could be in a different section from the gameplay rules.)

(I also grep'ped the entire repo for "horizontal" and "semicolon" and neither of those worked. Should've grep'ped "keyboard"!)

[2021-02-04 03:01] TungE opened #81 "Proposing alternate game mode "Superset""
Now that infrastructure for alternate game modes has been built, it may not be overly difficult to add other variants of Set, such as Superset. Superset can simply be described as Set but with an additional characteristic (e.g. give each card a border with one of three colors).

[2021-02-04 06:39] phayv opened #83 "UltraSet UI incorrectly makes a set"
In the UltraSet mode, it seems the UI is incorrect in identifying the actual card. In the identified UltraSet, the open squiggles card was not on the board. Even after identifying the UltraSet, the card should still remain on the board. That was not the case either. Before and after, the card was not on the board. Instead the striped squiggles was the only one available to make a set.

![Screen Sh

[2021-02-04 06:47] ekzhang commented on #83
It doesn't need to be on the board. See the [help page](https://setwithfriends.com/help).

[2021-02-04 06:47] #83 closed

[2021-02-04 12:13] Hanaffi opened #84 "Chat notification on hidden tab"
For example , when you move to another tab and you receive a message, The title should become "set with friends - (1)".
Similar to Facebook Xd

[2021-02-04 21:35] scottgdaniel opened #88 "Allow user to choose how cards are rotated"
Hello! I'm loving this implementation!

v3.0 has been looking great, but I'm a bit sad about the new 90-degree rotation of the cards in the horizontal layout (#36), as I find it very unintuitive to play in that orientation. Even if keeping the new rotation as the default makes the most sense for aspect-ratio purposes, perhaps a new key binding can be added to toggle the card rotation.

[2021-02-10 05:38] #88 closed

[2021-02-10 18:36] #69 closed

[2021-02-14 19:16] HiddeKoerts commented on #36
I think this issue can be closed :)
@ekzhang

[2021-02-14 19:19] #36 closed

[2021-02-14 19:25] HiddeKoerts opened #91 "Disable mouse highlight when using keyboard"
For keyboard users, the highlighting of the card over which the mouse hovers can be distracting. This occurs somewhat regularly, as the last mouse movement often relates to interaction with the lobby, e.g. the chat or starting the game itself.

Ideally, the mouse would only highlight a card after it has been moved during the game (or even after it has moved of the first card its hovering over at t

[2021-02-14 19:31] Hanaffi opened #92 "Whats New"
Can we have like a modal/pop-up after each release/patch showing what has been added to the website?
So that users can notice changes.

If its a good idea , Assign it to me

[2021-02-26 22:00] darrylyong opened #97 "More casual game mode"
Classrooms all over the world are happening remotely and teachers are looking for ways to connect with students in fun ways. Setwithfriends is already a wonderful way for this to happen, but the experience might be enhanced with a more casual game mode that:

- removes the score board (or has a toggle for it, so that we can have less competitive play to encourage more participation)
- allows for s

[2021-02-27 06:21] ekzhang commented on #97
Thanks for the suggestions, we considered your proposal and unfortunately do not think it will be worked on.

[2021-02-27 06:21] #97 closed

[2021-02-27 06:23] ekzhang commented on #92
Probably a good idea, not sure how to make this fit in given that we already show a `WelcomeDialog` to new users though. We would need to have a way to make sure these don't overlap, for example. Or maybe just combine them into one.

[2021-02-27 06:23] #77 closed

[2021-02-27 06:24] ekzhang commented on #81
Bump, is this still being worked on?

[2021-02-27 06:25] ekzhang commented on #40
Related: #96

[2021-02-27 15:50] TungE commented on #81
Yes, I apologize for the inactivity as I've been preoccupied recently. I'm interested in this feature but I'm not sure how to develop for it because it requires some backend changes. Is there a way I can test the backend changes as I develop?

[2021-02-28 06:30] ekzhang commented on #81
Yes, we can add you as an editor on the Firebase staging server. Are you on the [Discord server](https://discord.com/invite/XbjJyc9)? Please send me your Google account email, and I can get you access.

[2021-02-28 17:30] cynthiakedu commented on #92
Perhaps one thing we can try to do is imitating how Codeforces gives sitewide announcements (I found an example of the announcement in google images, shown below). This isn't really a modal/pop-up. A user can click on the x on the top right of the box to make an announcement disappear. Though this still runs into the issue of perhaps overwhelming users.

![codeforces notification](https://user-ima

[2021-02-28 18:01] Hanaffi commented on #92
@ekzhang  @cynthiakedu
What came first to my mind is that we can store some info about the user so that we can distinguish if its the first time to play the game or not.
{
user: {
ip_address, //or smth like that (to refer to some user, since we dont have accounts here)
state
}
}

state=0 if this is the first time to visit the website
state=1 , old player but first time after the update
state=2 , o

[2021-03-08 19:38] ekzhang opened #99 "Monetization"
People aren't really donating enough right now, barely enough to keep servers running at current usage levels. Could have more time to make the game better if there Set with Friends just captured 10x more revenue or so. Potential options:

- Google Adsense (~$1000-$2000/mo), possibly tricky to set up for dynamic content
- Premium features, >90% of games played on the site are private right now, ca

[2021-03-14 05:57] eltoder opened #103 "Profile page is slow to load for people with a lot of games"
Example: https://setwithfriends.com/profile/Q1lOhh0vjGZEAwQzV0TXqqZCRoD3

Some ideas: limit the number of games displayed; do pagination or load on demand; pre-calculate and save stats so that they can be displayed without loading all game data.

[2021-03-14 05:59] ekzhang commented on #103
Thanks, this is a known issue. You sound like you have some good ideas, feel free to help implement these.

[2021-03-23 23:37] ekzhang opened #105 "Durations are formatted incorrectly when timezone is Indian Standard Time"
### Problem

In Indian Standard Time (IST), time durations are formatted incorrectly. The minutes marking is off by 30 minutes (mod 60). For example, consider the following game.

**In Eastern Time:**

![image](https://user-images.githubusercontent.com/7550632/112232464-fd2dcc80-8c0e-11eb-8acd-0e29eb402f61.png)

**In Indian Standard Time:**

![image](https://user-images.githubusercontent.com/75506

[2021-03-23 23:40] #105 closed

[2021-03-29 21:50] ekzhang commented on #40
Update: We can implement game leaderboards now using the `finishGame()` function. Seems like most players are interested in time leaderboards and rating leaderboards.

[2021-03-31 16:01] DocRobbins17 opened #109 "Safety issue -- blocked by district -- would like to use with my students"
I have used this site with lots of success for one week with my students (who LOVED it, by the way) before our district blocked the site.  They have blocked it because of the ability students have to navigate around and the fact that it is unsafe. My question: is there a way to create a kid friendly safe version where it would take students directly to a private game where the chat is also private

[2021-03-31 16:11] ekzhang commented on #109
Hi @DocRobbins17, we can talk about setting up a private Set with Friends server for internal use by your organization (school district). This would require paying a small fee for initial development and maintenance. If interested, please contact me by email, and we can discuss contract terms with your district.

[2021-03-31 16:16] DocRobbins17 commented on #109
Can you tell me how much the small fee would be? I know the district won't
cover it, so it would be out of my pocket, but it might be worth it because
it makes them SO HAPPY.

Thanks for your quick response!

Sheri

Sheri Robbins, Ph.D., NBCT

Gifted & Talented Specialist

Bear Creek Elementary

Grapevine-Colleyville ISD

***@***.***

817.305.4860 ext. 2402
[image: National Board Certified Teacher

[2021-03-31 16:59] ekzhang commented on #109
Glad to hear that your students enjoy using the site. I charge $80/hour for consulting.

[2021-03-31 16:59] #109 closed

[2021-04-07 15:23] shagemey opened #110 "New Game Mode: SET Junior"
For those who are just getting started with the game, playing with only the solid shaded pieces can be very helpful in learning to identify SETs by removing one of the variables (shading) entirely. Suggesting to create a "Junior" mode here as well. The only change to be made is that the deck will only contain solid cards, all unfilled and hatched cards are removed.

[2021-04-07 15:25] shagemey commented on #99
Out of curiosity, what does it cost per month to keep set with friends up and running?

[2021-04-08 18:50] DocRobbins17 commented on #109
Hello, again.  I have been discussing this with our tech department, but we would need to know a ballpark figure of how much this would cost. I am not tech savvy, and have no idea how long something like this would take and don't want to waste your time or theirs if it isn't feasible. I wish there was a way to open it up so kids could not get on the website itself, but could join private games. If

[2021-04-10 18:17] ekzhang commented on #54
I'm closing this since #66 was merged a while ago, and we have separate issues for each new game mode that people are suggesting now.

[2021-04-10 18:17] #54 closed

[2021-04-10 18:17] ekzhang commented on #110
Thanks for the suggestion, this has come up before, seems like it would be a reasonable alternate game mode. Also related: #81 - which is somewhat of an opposite!

[2021-04-10 18:18] ekzhang commented on #84
Closing due to lack of interest.

[2021-04-10 18:18] #84 closed

[2021-04-12 14:10] NilsEnevoldsen commented on #81
A few comments:

1. I recommend a different name, as SuperSet already has a well-accepted meaning. Perhaps "5-dimensional SET", "3^5 SET", or "243 SET". (I also recommend changing the name of this issue for clarity.)
2. Note that the deck size will triple to 243, and since 5d sets are harder to find, game length will almost certainly more than triple. I suspect this game mode will not actually be

[2021-04-12 14:14] NilsEnevoldsen opened #111 "New game mode/option: Deal last card face down"
My friends and I enjoy dealing the last card face down. As long as no incorrect sets have been taken, the identity of this card can be determined, and players may claim sets that include it as usual.

[2021-04-12 14:15] NilsEnevoldsen opened #112 "New game mode: Projective Set (ProSet)"
[Projective Set](https://en.wikipedia.org/wiki/Projective_Set_(game)) uses a different deck but similar rules. I don't know if there are associated copyright issues.

[2021-04-12 14:19] NilsEnevoldsen opened #113 "Game mode/option: Autopick third card"
When a player selects two cards, autoselect the third card if it is present.

As this makes spamming easier, there would need to be some anti-spamming rule when playing with untrustworthy opponents (i.e. public games).

[2021-04-12 14:30] NilsEnevoldsen opened #114 "Game mode/option: divide sets that are simultaneously claimed"
When I play in person, sometimes two players reach for the same set. We divide these sets among such players. There are several ways something similar could be implemented online, but perhaps the simplest and most conservative is that if another player claims a set, and if you have already selected two of those cards, then you claim one of the three points.

With such a conservative rule, it's unl

[2021-04-12 14:38] NilsEnevoldsen commented on #81
[Board game manuals Wiki](https://boardgamemanuals.fandom.com/wiki/Set_(game)) calls the variant "Mega-Set" and suggests 15-16 cards initially.

[2021-04-14 04:23] DocRobbins17 opened #115 "Glad to hear that your students enjoy using the site. I charge $80/hour for consulting."
Glad to hear that your students enjoy using the site. I charge $80/hour for consulting.

_Originally posted by @ekzhang in https://github.com/ekzhang/setwithfriends/issues/109#issuecomment-811253217_

Hello, again. I have been discussing this with our tech department, but we would need to know a ballpark figure of how much this would cost. I am not tech savvy, and have no idea how long something l

[2021-04-24 00:08] lwalker42 commented on #113
I don't think this should be added.  There are plenty of situations with very similar looking cards where finding the exact set can be difficult and this would allow guessing.  Additionally, this will exacerbate lag in multiplayer games since people can chain sets one after another even faster.

[2021-04-29 19:16] sontyv opened #117 "Ban the R-word"
Hi, I heard that you guys use a pre-defined list of words to ban. Could you guys add the R-word to your list of banned words? I'm not sure if any other slurs are still allowed (haven't seen/didn't want to just test them out haha) so this is the only one I can report right now. Thanks!

[2021-05-01 02:48] ekzhang commented on #99
Decided that ads are probably not worth implementing at this point.

[2021-05-01 02:48] #99 closed

[2021-05-01 02:49] ekzhang commented on #117
What specific word do you mean? Please clarify or submit a PR.

You can edit [src/util.js](https://github.com/ekzhang/setwithfriends/blob/develop/src/util.js) and add the word to the filter.

[2021-05-01 02:51] ekzhang commented on #113
I don't think we would implement this for the reasons above, so I'm closing this.

[2021-05-01 02:51] #113 closed

[2021-05-01 02:53] ekzhang commented on #48
Closing this, as I think we're probably going to keep the current interface that adds cards automatically as-is for now.

[2021-05-01 02:53] #48 closed

[2021-05-01 05:51] sontyv commented on #117
Ah, I meant the word "retard/retarded". Thanks!

[2021-05-01 17:16] #117 closed

[2021-05-04 01:03] SeanLam751 opened #119 "Ban the other r-word"
As much as it is important to talk about this in appropriate situations, r*pe is not a word that should be seen in random set lobbies

[2021-05-08 08:14] lwalker42 commented on #110
Just made pull request.

[2021-05-18 06:20] ekzhang opened #126 "Auth emulator does not intercept linkWithPopup"
### Summary

<p align="center"><img src="https://user-images.githubusercontent.com/7550632/118600747-651c1180-b77f-11eb-87e5-43d8337ce901.png" width="60%"></p>

The "Link to Google Account" button does not work in development, due to a known issue with upgrading an anonymous user to OAuth user in the Firebase Local Emulator Suite. See https://github.com/firebase/firebase-js-sdk/issues/4879.

### C

[2021-05-18 07:24] ekzhang commented on #103
I think I know how to fix this with minimal downtime and chance of errors, so I will write something up.

[2021-05-18 18:30] ekzhang commented on #92
Implemented in https://github.com/ekzhang/setwithfriends/commit/681f974de2bda461d62f735488701e92f2c65ed3, see the settings menu. It now contains the current version number and a link to the release notes.

[2021-05-18 18:30] #92 closed

[2021-05-18 23:34] #103 closed

[2021-05-26 07:00] offset-dass opened #128 "Blank screen issue for loading profiles"
When a user is looking at another user's profile, and then clicks on their own (from the top right account link), then the window goes white/blank in certain circumstances. Refreshing the page shows the profile and not the blank screen.

My guess is that it's based on the number of games created or played on the account you are on, perhaps 50? It seemingly works fine for newer accounts, yet does n

[2021-05-26 16:37] ekzhang commented on #128
Thanks, I was able to reproduce this.

[2021-05-26 18:42] #128 closed

[2021-06-03 15:18] beelzebutttt opened #129 "Stuck in spectator mode"
I want to play with another person, but whenever I click the invite link that is sent to me, the game is launched in spectator mode and I cannot play. How do I get out of spectator mode? Thank you!

[2021-06-03 15:25] cynthiakedu commented on #129
If you want to actually play, let the other person wait for you to join the game's waiting room (shown below) before pressing the "START GAME" button. If you join the game after the game is started, you become a spectator and can't get out of it.
<img width="1145" alt="Screen Shot 2021-06-03 at 11 23 27 AM" src="https://user-images.githubusercontent.com/47993494/120670210-32039e80-c45e-11eb-99a3-e

[2021-06-04 21:09] #129 closed

[2021-06-15 04:05] davidbuffkin opened #130 "Keyboard Practice Mode"
Not an issue; but having a private solo mode (where the set is shown) as means of practicing keyboard shortcuts could be helpful for beginner players, and seems like not too big of a pain to implement.

[2021-06-16 00:34] ekzhang commented on #130
Will not be implemented.

[2021-06-16 00:34] #130 closed

[2021-06-18 16:07] greg-finley opened #132 "Prospect: Report why it's not a set"
Example from [another site](https://www.setgame.com/set/puzzle):

![Screen Shot 2021-06-18 at 9 05 47 AM](https://user-images.githubusercontent.com/28961086/122588883-770a0200-d014-11eb-814a-b254b65b2274.png)

[2021-06-27 16:52] HiddeKoerts commented on #40
My thoughts as I was working on the issue:

There are likely too many player accounts to re-sort all the accounts based on their rating / best time every time the leaderboards are requested. So one would have to store the leaderboards somehow and efficiently updating. For best times, this wouldn't be all that difficult. In `finishGame()` we could check whether a player has beaten their best and th

[2021-07-27 18:31] Const4ntin3 opened #134 "Sets are not sets"
Hi,
I just found out about your online game today.
I am only wondering about one thing.
Why is this a set?

![image](https://user-images.githubusercontent.com/7338226/127207863-c2d0b02f-4d07-47a6-a256-3e6ad1de111e.png)

I just looked up the rules of the game which I have at home and it clearly states that "either a set has 3 times just the same or 3 time completely different features".

However, t

[2021-07-28 01:04] cynthiakedu commented on #134
I think the rules you have at home may be a bit misleading and caused some misunderstanding.

The actual rule is that, for each of the four features (number of occurrences, color, filling, form), the 3 cards must be all the same or all different for that particular feature.

As you have identified, for both the number of occurrences and color, they are all the same; for filling and form, they are

[2021-07-28 01:04] #134 closed

[2021-11-12 22:05] jack67889 opened #136 "Hot keys to start a game"
It's rather inconvenient that you can play the game using solely a keyboard, but you can't easily recreate the waiting room and press start in the waiting room. (I consider grabbing your mouse or tabbing as rather inconvenient.) So it would be really nice if hot keys could be implemented for that.

Furthermore, hot keys to create a public and private game if you are at the home page would also be

[2021-11-12 22:13] jack67889 opened #137 "Game mode: race against the clock (or catchier name)"
A lot of people on the site seem to enjoy playing solo games. Since it's currently quite different from playing multiplayer games I would suggest to add a multiplayer quasi-solo mode: race against the clock.

Where all the players get the same deck of cards, start at the same time and counters next to the board show how many sets other players got already. It's a nice way to directly compare solo

[2021-11-13 04:45] ekzhang commented on #137
That's a cool idea! I'm not sure how we'd integrate it with the rest of the site, but it's definitely an interesting game concept.

[2021-11-13 04:46] ekzhang commented on #136
Is this a major improvement? I'm worried about players who don't know about the hotkeys accidentally starting the game from the waiting room after hitting a key, for example.

[2021-11-13 11:15] jack67889 commented on #136
Imho it is, just annoying to grab the mouse and move the cursor out of the way again after you press start. I certainly understand the concern, but something like alt+s seems fine to me (instead of just a single key), you won't click that on accident.

[2022-01-06 07:12] offset-dass opened #139 "Game mode: Set-Classic"
On smart-games, there is a mode called Set-Classic, which I think is a better way for people to measure their best times as compared to normal; the number of sets in a game varies whereas this will always have the same number of sets in each format.

In Set-Classic on smart-games, people may choose Set-10, Set-20, or Set-30, where the board never expands beyond 12 cards (which could preferably be

[2022-02-25 17:18] jack67889 commented on #136
More recent requests for this feature on [Discord](https://discord.com/channels/718326911583125544/718457117756883045/945403092789231616)

[2022-03-05 17:47] ekzhang commented on #136
Reopened due to community requests.

[2022-03-12 19:45] AOShalash opened #140 "Possible Tutorial/Instruction Manual"
This is more of a simple possible addition and shouldn't require all too much but maybe an information tab or a page on how to play the game as well as the other game modes included. When I first wanted to play ultraset, I just joined a public ultraset match and figured it out but I assume an info tab wouldn't take much and would be a good addition to make.

[2022-03-14 12:26] bicycleghost opened #141 "Site doesn't load on my network"
Since last week the site doesn't load on my network. Tried using different browsers and different devices to no avail. It's stuck on the loading animation and the api requests keep failing. I tried clearing the site data, disabled all extensions.

It seems this request keeps getting ERR_CONNECTION_TIMED_OUT
`https://setwithfriends.firebaseio.com/.lp?start=t&ser=71983043&cb=3&v=5&p=1:970544876139:w

[2022-03-16 16:23] ekzhang commented on #141
For the first error message: Is your ISP blocking outbound connections to `firebaseio.com`, or are you in a country (e.g., Iran) where Google refuses service due to legal reasons?

The second error message is not a problem, since Arc is just an ancillary provider. But the fact that the request to `socket.arc.io` is being blocked indicates a larger issue with your network. Are there any other sites

[2022-03-16 17:15] bicycleghost commented on #141
Didn't have this problem on any other site  As far as I know, nothing is blocked by my ISP, so no idea that the issue was. Anyways, I tried again now and it now finally loads. Thanks for the help. We can close the issue now :)

[2022-03-16 22:49] #141 closed

[2022-03-17 05:07] ekzhang commented on #140
We have an information page at https://setwithfriends.com/help, linked at the bottom of the site.

[2022-03-17 05:07] #140 closed

[2022-11-17 21:54] pe5ha opened #146 "Not all games shown in the user profile"
Why aren't all games shown in the user profile? I'd like to see them all... But there are only the last few.